In [1]:
import pandas as pd
import numpy as np

In [2]:
alternatives = pd.read_csv('dataset.csv')
alternatives

             Tempat Wisata   Harga  Jarak Tempuh (Km)  Jumlah Wahana  Rating
0             Jatim Park 1   75000               14.8             53     4.5
1     The Bagong Adventure   55000               14.7             16     4.4
2          Batu Secret Zoo   84000               14.0             11     4.6
3             Museum Satwa   60000               15.1              5     4.6
4           Eco Green Park   55000               14.1             12     4.5
5            Museum Angkut  100000               14.9             12     4.7
6        Predator Fun Park   37500               13.4             13     4.3
7   Batu Night Spectacular   99000               13.4             29     4.4
8                Dino Park  100000               10.3             10     4.5
9    The Legend Stars Park  100000               10.3             12     4.7
10          Fun Tech Plaza   40000               10.3             16     4.7
11      Museum Musik Dunia   50000               10.3              5     4.8

## Input the Criteria

In [3]:
harga = int(input('Harga? '))
jarak_tempuh = int(input('Jarak tempuh? '))
jumlah_wahana = int(input('Jumlah wahana? '))
rating = int(input('Rating? '))

dict_criteria = {'Harga': harga, 'Jarak Tempuh (Km)': jarak_tempuh, 'Jumlah Wahana': jumlah_wahana, 'Rating': rating}

Harga? 40
Jarak tempuh? 15
Jumlah wahana? 20
Rating? 25

## Weight Priority from Criteria

In [4]:
total = 0
for key, value in dict_criteria.items():
    total += value

criteria = [ (key, (value/total)) for key, value in dict_criteria.items() ]
criteria = dict(criteria)

print(criteria)

{'Harga': 0.4, 'Jarak Tempuh (Km)': 0.15, 'Jumlah Wahana': 0.2, 'Rating': 0.25}

In [5]:
criteria['Harga']

0.4

## Calculate Si Vector for each Criteria and Alternatives

In [6]:
si_vector = alternatives.copy()

In [7]:
si_vector['Harga (Vektor Si)'] = si_vector['Harga'].apply(lambda x: x**(-criteria['Harga']))
si_vector['Jarak Tempuh (Vektor Si)'] = si_vector['Jarak Tempuh (Km)'].apply(lambda x: x**(-criteria['Jarak Tempuh (Km)']))
si_vector['Jumlah Wahana (Vektor Si)'] = si_vector['Jumlah Wahana'].apply(lambda x: x**(criteria['Jumlah Wahana']))
si_vector['Rating (Vektor Si)'] = si_vector['Rating'].apply(lambda x: x**(criteria['Rating']))

In [8]:
si_vector

,Tempat Wisata,Harga,Jarak Tempuh (Km),Jumlah Wahana,Rating,Harga (Vektor Si),Jarak Tempuh (Vektor Si),Jumlah Wahana (Vektor Si),Rating (Vektor Si)
0,Jatim Park 1,75000,14.8,53,4.5,0.011220,0.667515,2.212357,1.456475
1,The Bagong Adventure,55000,14.7,16,4.4,0.012701,0.668194,1.741101,1.448315
2,Batu Secret Zoo,84000,14.0,11,4.6,0.010722,0.673102,1.615394,1.464500
3,Museum Satwa,60000,15.1,5,4.6,0.012267,0.665508,1.379730,1.464500
4,Eco Green Park,55000,14.1,12,4.5,0.012701,0.672384,1.643752,1.456475
5,Museum Angkut,100000,14.9,12,4.7,0.010000,0.666841,1.643752,1.472395
6,Predator Fun Park,37500,13.4,13,4.3,0.014804,0.677539,1.670278,1.440015
7,Batu Night Spectacular,99000,13.4,29,4.4,0.010040,0.677539,1.961009,1.448315
8,Dino Park,100000,10.3,10,4.5,0.010000,0.704814,1.584893,1.456475
9,The Legend Stars Park,100000,10.3,12,4.7,0.010000,0.704814,1.643752,1.472395
10,Fun Tech Plaza,40000,10.3,16,4.7,0.014427,0.704814,1.741101,1.472395
11,Museum Musik Dunia,50000,10.3,5,4.8,0.013195,0.704814,1.379730,1.480166

In [9]:
si_vector['Total Si'] = si_vector.iloc[:, 5:].apply(lambda row: row['Harga (Vektor Si)'] * \
                   row['Jarak Tempuh (Vektor Si)'] * row['Jumlah Wahana (Vektor Si)'] * row['Rating (Vektor Si)'], axis=1)

In [10]:
si_vector

,Tempat Wisata,Harga,Jarak Tempuh (Km),Jumlah Wahana,Rating,Harga (Vektor Si),Jarak Tempuh (Vektor Si),Jumlah Wahana (Vektor Si),Rating (Vektor Si),Total Si
0,Jatim Park 1,75000,14.8,53,4.5,0.011220,0.667515,2.212357,1.456475,0.024132
1,The Bagong Adventure,55000,14.7,16,4.4,0.012701,0.668194,1.741101,1.448315,0.021402
2,Batu Secret Zoo,84000,14.0,11,4.6,0.010722,0.673102,1.615394,1.464500,0.017074
3,Museum Satwa,60000,15.1,5,4.6,0.012267,0.665508,1.379730,1.464500,0.016496
4,Eco Green Park,55000,14.1,12,4.5,0.012701,0.672384,1.643752,1.456475,0.020446
5,Museum Angkut,100000,14.9,12,4.7,0.010000,0.666841,1.643752,1.472395,0.016139
6,Predator Fun Park,37500,13.4,13,4.3,0.014804,0.677539,1.670278,1.440015,0.024126
7,Batu Night Spectacular,99000,13.4,29,4.4,0.010040,0.677539,1.961009,1.448315,0.019321
8,Dino Park,100000,10.3,10,4.5,0.010000,0.704814,1.584893,1.456475,0.016270
9,The Legend Stars Park,100000,10.3,12,4.7,0.010000,0.704814,1.643752,1.472395,0.017058
10,Fun Tech Plaza,40000,10.3,16,4.7,0.014427,0.704814,1.741101,1.472395,0.026067
11,Museum Musik Dunia,50000,10.3,5,4.8,0.013195,0.704814,1.379730,1.480166,0.018993

In [11]:
total_s = np.sum(si_vector['Total Si'])
total_s

0.23752346105052982

## Calculate Vi Vector

In [12]:
v_vector = si_vector.copy()

In [13]:
v_vector['Vektor Vi'] = v_vector['Total Si'].apply(lambda row: (row/total_s))

In [14]:
v_vector

,Tempat Wisata,Harga,Jarak Tempuh (Km),Jumlah Wahana,Rating,Harga (Vektor Si),Jarak Tempuh (Vektor Si),Jumlah Wahana (Vektor Si),Rating (Vektor Si),Total Si,Vektor Vi
0,Jatim Park 1,75000,14.8,53,4.5,0.011220,0.667515,2.212357,1.456475,0.024132,0.101599
1,The Bagong Adventure,55000,14.7,16,4.4,0.012701,0.668194,1.741101,1.448315,0.021402,0.090103
2,Batu Secret Zoo,84000,14.0,11,4.6,0.010722,0.673102,1.615394,1.464500,0.017074,0.071884
3,Museum Satwa,60000,15.1,5,4.6,0.012267,0.665508,1.379730,1.464500,0.016496,0.069450
4,Eco Green Park,55000,14.1,12,4.5,0.012701,0.672384,1.643752,1.456475,0.020446,0.086081
5,Museum Angkut,100000,14.9,12,4.7,0.010000,0.666841,1.643752,1.472395,0.016139,0.067948
6,Predator Fun Park,37500,13.4,13,4.3,0.014804,0.677539,1.670278,1.440015,0.024126,0.101571
7,Batu Night Spectacular,99000,13.4,29,4.4,0.010040,0.677539,1.961009,1.448315,0.019321,0.081342
8,Dino Park,100000,10.3,10,4.5,0.010000,0.704814,1.584893,1.456475,0.016270,0.068497
9,The Legend Stars Park,100000,10.3,12,4.7,0.010000,0.704814,1.643752,1.472395,0.017058,0.071817
10,Fun Tech Plaza,40000,10.3,16,4.7,0.014427,0.704814,1.741101,1.472395,0.026067,0.109747
11,Museum Musik Dunia,50000,10.3,5,4.8,0.013195,0.704814,1.379730,1.480166,0.018993,0.079962

## Sort Values based on Vi Vector

In [15]:
sorted_vi = v_vector.sort_values(by=['Vektor Vi'], ascending=False)

## Recommendation

In [16]:
sorted_vi['Tempat Wisata']

10            Fun Tech Plaza
0               Jatim Park 1
6          Predator Fun Park
1       The Bagong Adventure
4             Eco Green Park
7     Batu Night Spectacular
11        Museum Musik Dunia
2            Batu Secret Zoo
9      The Legend Stars Park
3               Museum Satwa
8                  Dino Park
5              Museum Angkut
Name: Tempat Wisata, dtype: object